<div class="content">
  <div class="flex-div">
    <div class="name-content">
      <h1 class="logo">Arun's Blog</h1>
      <p>
        Angular Route guard for authentication.How to restrict in-app navigation
        ? This part is tested and edited on codespaces to see how it works..
      </p>
    </div>
    <form (ngSubmit)="loginUser()" #loginForm="ngForm">
      <input
        type="text"
        [(ngModel)]="userAdmin.userName"
        name="name"
        placeholder="Email or Phone Number"
        required
      />
      <input
        type="password"
        [(ngModel)]="userAdmin.userPass"
        name="password"
        placeholder="Password"
        required
      />
      <button [disabled]="!loginForm.form.valid" class="login">Log In</button>
      <a href="#">Forgot Password ?</a>
      <hr />
      <button type="submit" class="create-account">Create New Account</button>
    </form>
  </div>
</div>
